お問い合わせをありがとうございます。

<p>お名前: <%= @inquiry.name %></p>
<p>メール: <%= @inquiry.email %></p>
<p>電話番号: <%= @inquiry.phone %></p>
<p>お問い合わせ内容:<br />
<%= simple_format(@inquiry.message) %></p>


<p>※通常3営業日以内にお返事差し上げます。</p>
<p>※弊社からのご返信内容が迷惑メールボックスにたまるご報告が多数寄せられておりますので、恐れいりますが迷惑メールボックス内の受信確認もよろしくお願いいたします。</p>